        @charset "utf-8";
        .contents { width: 100%;}
        .vs { width: 1200px;margin: 0 auto; }
        .page { clear: both; width: 100vw;height: 100vh; overflow: hidden; border-top: 1px solid #ccc; }
        .page_tit { text-align:center; line-height: 3.6;}
        .lst, #notice, .sitemap { width: 1200px;margin: 0 auto;}
        #page1 { background:#ececec; }
        .lst li {float: left;width: 400px;}
        .lst a {color:#333;}
        .lst_com:hover { color: rosybrown;}
        .lst_tit { line-height: 2.4;padding-left: 15px; }
        .lst_com {padding: 15px;}
        
        #notice { display: table; }
        #notice tr { display: table-row;}
        #notice th, #notice td {display: table-cell; border: 1px solid #333; height: 48px;}
        .n_num { width: 5%;text-align: center; }
        .n_date { width: 10%;text-align: center; }
        .n_tit { width: 84%; }
        .n_tit a { display:block; padding:5px;padding-left:10px;color:#333;white-space:nowrap; overflow: hidden; text-overflow: ellipsis;padding-right: 10px;width: 960px; }
        .n_tit a:hover {color: lightpink}
        #page3 {background-color: rosybrown}
        #page3 .page_tit {color: #fff}
        .sitemap { color:#fff; }
        .site li { float: left; width: 16%;border-right: 1px solid #ccc }
        .site li a { color: #ccc}